 body {
  margin-top: 100px;
  background-color: rgb(30, 28, 28);

}

ul {
  margin-bottom: 0;
  padding: 0;
}

ul li {
  font-size: large;
  font-weight: lighter;
  box-shadow: 3px 1px 2px;
  color: rgb(255, 255, 255);
  height: 75px;
  border: 1px solid grey;
  list-style: none;
  padding: 20px;
  border-radius: 50px;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
}

input {
  width: 100%;
  font-size: xx-large;
  font-weight: lighter;
  box-shadow: 3px 1px 2px;
  background-color: rgb(119, 117, 117);
  color: rgb(255, 253, 253);
  height: 90px;
  border: 1px solid grey;
  border-radius: 50px;
  list-style: none;
  padding: 20px;
}

.delete-button {
  position: fixed;
  right: 25%;

}

::placeholder {
  color: rgb(253, 254, 255)
}

.container {
  float: none;
  width: 60%;
  margin: 0 auto;

}